html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  color: white;
  font-family: monospace;
  gap: 10px;
  z-index: 10;
}

.menu_title {
  font-size: 48px;
}


.menu_button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-family: monospace;
}

.pause_menu_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: monospace;
  gap: 10px;
  z-index: 10;
}

.pause_menu_title {
  font-size: 36px;
}

.pause_menu_button {
  padding: 8px 16px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-family: monospace;
}

canvas {
position: fixed;
  width: 100vw;
  height: 100vh;
cursor: none;

}

.ui_wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: fit-content;
}

.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.crosshair::before,
.crosshair::after {
  content: "";
  position: absolute;
  background: white;
}

.crosshair::before {
  width: 2px;
  height: 20px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.crosshair::after {
  width: 20px;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui_element {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-family: monospace;
  width: fit-content;
}

button.ui_element {
  cursor: pointer;
}

