html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
}

.ui_wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: fit-content;
}


.fps_display {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-family: monospace;
}

.position_display {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-family: monospace;
}

.controls_toggle_button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-family: monospace;
  cursor: pointer;
}