html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
position: fixed;
  width: 100vw;
  height: 100vh;

}

.ui_wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: fit-content;
}

.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.crosshair::before,
.crosshair::after {
  content: "";
  position: absolute;
  background: white;
}

.crosshair::before {
  width: 2px;
  height: 20px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.crosshair::after {
  width: 20px;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui_element {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-family: monospace;
  width: fit-content;
}

button.ui_element {
  cursor: pointer;
}

